PORT=3000
NODE_ENV=development

MASTER_KEY=7f9c2d8a4b61e3c0d5f7a1b9c2e6d0aa13b7f9d0c6a1e8b2f4c9a0d3e1b8c6f2
SESSION_SECRET=3xYp8QvN1mZ7kL5cR2tW9aJ6hG4dS0uP8nB5eC1rV7qZ2xM
COOKIE_SECRET=K9pT2mV7sQ4xN8rL1aZ6cD0uH5jG3bW9eY2kP7nR4tS8mX1q

GOBIZ_API_BASE=https://api.gobiz.co.id
APP_NAME=PansaMerchant Wallet
